:root {
  --theme-deafult: #ff379b;
  // This gradient color only for gym and marijuana layout
  --theme-gradient1: #01effc;
  --theme-gradient2: #485ff2;
  --text-gray-regular: #67686c;
}

// Toastr Css
@import "node_modules/ngx-toastr/toastr.css";

// Rating Scss
@import "node_modules/ngx-bar-rating/themes/br-default-theme";

// font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Owl Carousel
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// Themify icon scss
@import "themify";

// Reset css
@import "theme/reset";

@import "tailwind-build.scss";

@import "theme/base";
