<div class="top-banner">
  <!--<img ngSrc=""
       fill
       priority
       alt="top-banner" />-->
</div>

<header class="header header--sticky">
  <div class="header__top-bar">
    <div class="container">
      <div class="header__top-bar__layout">
        <!--<div class="d-flex align-items-center header__top-bar__item">
          <span>Đặt hàng & CSKH: </span>
          <a routerLink="/">1800 0000</a>
          <img src="/assets/images/icon/header-bar-free.png"
               alt="header-bar-free-icon"
               width="42"
               height="18" />
        </div>-->

        <!--<div class="header__top-bar__item">
          <a routerLink="/" class="store">
            <img src=""
                 alt="header-bar-supermarket-logo" />
            <span>Địa chỉ nhận hàng</span>
          </a>
        </div>-->

        <!--<div class="d-flex align-items-center header__top-bar__item header__top-bar__item--account">
          <a routerLink="/" class="header__top-bar__item__link register">
            <img src="/assets/images/icon/header-bar-login.png"
                 alt="header-bar-supermarket-logo" />
            <span>Đăng ký </span>
          </a>

          <a routerLink="/" class="header__top-bar__item__link login">
            <span>Đăng nhập</span>
          </a>
        </div>-->
      </div>
    </div>
  </div>

  <div class="container header-main">
    <div class="header-main__layout">
      <div class="header-main__layout__col">
        <div class="brand-logo-new">
          <a routerLink="/" id="headerlogo" aria-label="logo">
            <!--<img src=""
                 alt="logo" />-->
          </a>
        </div>
      </div>

      <!--Thanh tìm kiếm-->
      <div class="header-main__layout__col">

      </div>

      <!--Giỏ hàng và Thông báo-->
      <div class="header-main__layout__col">
        <div class="header-cart-notify-wrapper">
          
        </div>
      </div>
    </div>
  </div>
</header>
