.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    color: #67686c;
    margin-bottom: 8px;
  }

  &__bottom {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: #67686c;
  }
}
