<mat-dialog-content>
  <h2 class="mb-[20px] text-[24px] font-semibold text-tundora">Hoàn thành</h2>

  <div>
    Xác nhận hoàn thành đơn hàng
    <span class="font-semibold text-red-800">{{ data.ProductCode }}</span
    >?
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    type="button"
    (click)="onNoClick()"
    class="mb-2 me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
  >
    Hủy
  </button>

  <button
    type="button"
    (click)="onAgreeClick()"
    class="mb-2 me-2 rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Đồng ý
  </button>
</mat-dialog-actions>
