<!--Action-->
<div class="mb-8 grid w-full items-center">
  <div>
    <form class="w-2/3">
      <label
        for="default-search"
        class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tìm kiếm</label
      >
      <div class="relative">
        <div
          class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
        >
          <svg
            class="h-4 w-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          id="default-search"
          class="block w-full rounded-lg border border-gray-300 bg-white p-4 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600"
          placeholder="Tìm kiếm khung giờ làm"
          required
        />
        <button
          type="submit"
          class="absolute bottom-2.5 end-2.5 rounded-lg bg-[#0070f4] bg-gradient-to-br px-5 py-2 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800"
        >
          Tìm kiếm
        </button>
      </div>
    </form>
  </div>
</div>

<!--Table-->

<div class="bg-white p-6 [box-shadow:2px_6px_15px_0_rgba(69,_65,_78,_.1)]">
  <p-table
    [value]="staticShiftsList"
    [scrollable]="true"
    [tableStyle]="{
      fontSize: '14px'
    }"
    styleClass="p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-[5rem]">ID</th>
        <th>Khung giờ</th>
        <th>Giờ bắt đầu</th>
        <th>Giờ kết thúc</th>
        <th class="text-center">Ngoài giờ</th>
        <th class="w-[7rem] text-center">Hành động</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <form [formGroup]="createForm">
            <input
              formControlName="staticShiftName"
              type="text"
              class="block w-full rounded-lg border border-gray-300 text-sm font-normal text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              placeholder="Nhập tên khung giờ"
            />
          </form>
        </th>
        <th>
          <form [formGroup]="createForm">
            <input
              type="text"
              id="machine_name"
              class="block w-full rounded-lg border border-gray-300 text-sm font-normal text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              placeholder="Nhập thời gian bắt đầu"
              formControlName="startTime"
            />
          </form>
        </th>
        <th>
          <form [formGroup]="createForm">
            <input
              type="text"
              id="machine_name"
              class="block w-full rounded-lg border border-gray-300 text-sm font-normal text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              placeholder="Nhập thời gian kết thúc"
              formControlName="endTime"
            />
          </form>
        </th>
        <th class="text-center">
          <form [formGroup]="createForm">
            <p-checkbox
              [binary]="true"
              inputId="binary"
              id="is_overtime"
              formControlName="isOvertime"
            />
          </form>
        </th>

        <th>
          <button
            (click)="onCreate($event)"
            class="flex w-[100%] items-center justify-center rounded-lg bg-[#0070f4] bg-gradient-to-r p-1.5 text-center text-sm font-medium text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-800"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-staticShift>
      <tr>
        <td>{{ staticShift.StaticShiftId }}</td>
        <td>{{ staticShift.StaticShiftName }}</td>
        <td>{{ staticShift.StartTime }}</td>
        <td>{{ staticShift.EndTime }}</td>
        <td class="text-center">
          @if (staticShift.IsOvertime) {
            <i class="ti-check font-bold text-blue-600"></i>
          }
        </td>
        <td class="flex justify-around">
          <!--Edit-->
          <button
            class="bg-transparent"
            (click)="openUpdateDialog(staticShift)"
            type="button"
          >
            <svg
              class="size-5 text-gray-500 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>

          <!--Delete-->
          <button
            class="bg-transparent"
            (click)="openDeleteDialog(staticShift)"
            type="button"
          >
            <svg
              class="size-5 text-gray-500 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              />
            </svg>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
